#ExpenseWrapper {
  margin-top: 2em;
}


.ExpenseForm {
  display: flex;
  flex-direction: column;

  &:hover {
    @include box-basic;
    outline: none;
  }
}


#expenseHeader {
  margin-top: .2em;
  background: none;
}


div#ExpenseDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}


#expenseName {
  width: $category-name-width;
}


#expenseAmt {
  width: $budget-amt-width;
}


#expenseSubmitButton {
  display: block;
  width: 10em;
  height: 2em;
  margin-left: 1em;
  color: rgb(195, 93, 138);
  background: none;
  border: none;
  font-size: 10px;

  &:hover {
    color: rgb(161, 60, 60);
  }
}


input.inactive {
  background: white;
  color: black;
  font-size: 10px;
  border: 1px gray;
}


a#deleteExpense {
  text-decoration: none;
  color: #a13c3c;
  padding: .1em;
  margin-right: 2em;
  padding-top: .2em;
}


#expenseSubmitButton.hidden {
  display: none;
  visibility: hidden;
}


.invisible {
  display: none;
}
